# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/

# Env
.env

# IDE
.vscode/
.idea/

# Logs
logs/
lavalink/logs/

# Binaries / large artifacts
Lavalink.jar
lavalink/Lavalink.jar
ffmpeg-*/
